<div class="row">
  <div ng-class="c.factory.client ? 'col-xs-8':'col-xs-12'">
    <h3>Clients</h3>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="client in c.factory.clients">
        <button ng-if="c.factory.client != client" ng-click="c.factory.view(client)" class="btn btn-success">
          {{client.name}}
        </button>
        <button ng-if="c.factory.client == client" ng-click="c.factory.close()" class="btn btn-danger">
          {{client.name}}
        </button>
      </li>
    </ul>
  </div>
  <div ng-if="c.factory.client" class="col-xs-4">
    <client></client>
  </div>
</div>
